
*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "extenciones";


@import "navbar";

@import "nuevocurso";

@import "perfil";

@import "datosusuario";

@import "nuevoamigo";

@import "login";

@import "publicacion";

